@charset "UTF-8";

@font-face {
  font-family: "fedfont";
  src:url("fonts/fedfont.eot");
  src:url("fonts/fedfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/fedfont.woff") format("woff"),
    url("fonts/fedfont.ttf") format("truetype"),
    url("fonts/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fedfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fedfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\61";
}
.icon-phone:before {
  content: "\62";
}
.icon-flask:before {
  content: "\63";
}
.icon-magic:before {
  content: "\64";
}
.icon-bolt:before {
  content: "\65";
}
