/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * selectize.css (v0.12.6)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #fff;
  box-shadow: inset 0 0 12px 4px #fff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}
.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #fff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}
.selectize-input.full {
  background-color: #fff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #fff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}
.selectize-dropdown [data-selectable].option {
  opacity: 1;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #fff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}

/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/*!
 * Font Awesome Free 5.4.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

@font-face {
  font-family: "fedfont";
  src: url("../fontastic/fonts/fedfont.eot");
  src: url("../fontastic/fonts/fedfont.eot?#iefix") format("embedded-opentype"), url("../fontastic/fonts/fedfont.woff") format("woff"), url("../fontastic/fonts/fedfont.ttf") format("truetype"), url("../fontastic/fonts/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  width: 100%; }

body {
  font-family: sans-serif;
  font-weight: 100;
  color: #515151; }

h1, h2, h3 {
  font-weight: 100; }

p {
  line-height: 1.7; }

.site_header-top, .site_header-bottom_inner, .stacked_hero_section {
  width: auto;
  margin: 0 20px;
  border: none; }
  @media (min-width: 1000px) {
    .site_header-top, .site_header-bottom_inner, .stacked_hero_section {
      width: 960px;
      margin-left: auto;
      margin-right: auto; } }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75em 2.5em 0.5em 2.5em;
  border-radius: 0.2em;
  border-top: 1px solid #bdff24;
  border-bottom: 1px solid #4f7100;
  border-left: none;
  border-right: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .button:hover, .button:visited, .button:link, .button:active {
    color: white;
    text-decoration: none; }
  .button-pill {
    font-size: 1.1875rem;
    font-weight: 100;
    border-radius: 2em;
    padding: 0.5em 1.5em 0.375em 1.5em;
    text-shadow: none; }

.site_header-top {
  overflow: auto;
  padding: 1.25rem 0; }

.site_header-logo {
  display: block;
  width: 100%;
  margin-bottom: 20px; }
  @media (min-width: 525px) {
    .site_header-logo {
      width: 450px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 670px) {
    .site_header-logo {
      width: auto;
      float: left;
      margin: 0; } }

.site_header-top_right {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 0 1.25rem; }
  @media (min-width: 670px) {
    .site_header-top_right {
      width: auto;
      float: right;
      margin: inherit;
      text-align: inherit;
      padding-top: 0.375rem; } }

.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75em 0;
  overflow: auto;
  border-top: 1px solid #DADADA; }

.site_header-nav {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.375rem; }
  @media (min-width: 670px) {
    .site_header-nav {
      float: left;
      text-align: inherit;
      margin-bottom: 0; } }
  .site_header-nav a {
    display: inline-block; }
  .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 100;
    padding: 0.3em 0.6em; }
  .site_header-nav a.is-active {
    border: 1px solid #aeaeae;
    background-color: #DADADA;
    border-radius: 0.2em; }

.site_header-phone {
  display: block;
  width: 10.625rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (min-width: 670px) {
    .site_header-phone {
      float: right;
      width: auto;
      text-align: inherit;
      display: inline-block;
      margin: 0; } }
  .site_header-phone::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: '\f095';
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg); }

.site_header-account_link {
  display: inline-block;
  line-height: 1.8125rem;
  margin-right: 1.25rem; }
  .site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:link, .site_header-account_link:active {
    color: #7a7a7a;
    text-decoration: none;
    font-size: 1.125rem; }
  .site_header-account_link::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: '\f007';
    margin-right: 0.35em;
    font-size: 0.9em; }

.site_header .search_form {
  display: inline-block;
  vertical-align: top; }

/* Add this rule separately to  increase specificity so that background image shows */
div.slideshow {
  position: relative;
  height: 39.375rem;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-size: cover;
  background-position: bottom;
  width: auto;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid white; }
  @media (min-width: 800px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg-2000.jpg"); } }
  @media (min-width: 1500px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg-3000.jpg"); } }
  @media (min-width: 2500px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg.jpg"); } }

.slideshow-slide {
  padding: 0 20px;
  width: auto; }
  @media (min-width: 820px) {
    .slideshow-slide {
      padding: 0 0 0 11.875rem;
      width: 31.25rem; } }
  .slideshow-slide > p {
    color: white;
    font-size: 1.125rem; }

.slideshow-slide_title {
  font-size: 2.75rem;
  color: white;
  margin-top: -0.625rem;
  margin-bottom: 0.5em; }

.slideshow ul.slides {
  height: 39.375rem; }
  .slideshow ul.slides li {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.slideshow .flex-direction-nav a {
  display: none; }
  @media (min-width: 820px) {
    .slideshow .flex-direction-nav a {
      display: block;
      width: 6.25rem;
      height: 6.25rem; } }

.slideshow .flex-direction-nav a:before {
  font-family: "fedfont";
  color: white;
  font-size: 6.25rem; }

.slideshow .flex-direction-nav a.flex-next:before {
  content: 'd'; }

.slideshow .flex-direction-nav a.flex-prev:before {
  content: 'c'; }

.slideshow .flex-control-nav {
  bottom: 0.75rem; }

.slideshow .flex-control-nav li {
  margin: 0 0.25rem; }

.slideshow .flex-control-paging li a {
  background: rgba(255, 255, 255, 0.9); }
  .slideshow .flex-control-paging li a:hover {
    background: rgba(255, 255, 255, 0.9); }

.slideshow .flex-control-paging li a.flex-active {
  background: rgba(255, 255, 255, 0.5); }

.slideshow-wrapper {
  position: relative; }
  .slideshow-wrapper:after {
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    height: 50%;
    bottom: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border-radius: 30%;
    z-index: -1; }

.search_form-phrase {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 1.875rem;
  margin-left: -.4em;
  width: 8.3125rem;
  border: 1px solid #aeaeae;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  outline: none; }

.search_form-submit {
  display: inline-block;
  border: 1px solid #aeaeae;
  vertical-align: top;
  height: 1.875rem;
  box-sizing: border-box;
  margin-left: -0.4em;
  width: 2.3125rem;
  background-color: #F4F4F4;
  border-radius: 0 3px 3px 0; }
  .search_form-submit::before {
    font-family: "fedfont";
    content: 'a';
    color: #aeaeae;
    font-size: 1.25rem;
    display: inline-block;
    margin-top: 0.1875rem; }

div.search_form-type {
  width: 4.875rem;
  vertical-align: top;
  display: inline-block; }
  div.search_form-type div.selectize-input.items.full.has-options.has-items::after {
    border: none; }
  div.search_form-type div.selectize-input.items.full.has-options.has-items::before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.125rem;
    content: "\f0dc";
    color: #aeaeae;
    margin-right: 0.4em; }
  div.search_form-type div.selectize-input {
    height: 1.875rem;
    font-size: 1rem;
    color: #7a7a7a;
    padding: 0.25rem 0.5rem;
    background-color: #F4F4F4;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid #aeaeae; }

.stacked_hero_section {
  overflow: auto;
  padding: 90px 0; }
  .stacked_hero_section-title {
    font-size: 2.125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    padding-bottom: 0.8em;
    margin-bottom: 0.9em;
    margin-top: 0; }
  .stacked_hero_section--alt {
    background-color: #e8e8e8;
    width: auto;
    margin: 0;
    overflow: hidden; }
    .stacked_hero_section--alt > .stacked_hero_section-title {
      border-bottom-color: white;
      width: auto;
      margin-left: 20px;
      margin-right: 20px; }
      @media (min-width: 960px) {
        .stacked_hero_section--alt > .stacked_hero_section-title {
          width: 960px;
          margin-left: auto;
          margin-right: auto; } }
  .stacked_hero_section--qualities .icon_box-wrapper {
    max-width: 612px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1000px) {
      .stacked_hero_section--qualities .icon_box-wrapper {
        width: auto;
        max-width: none; } }

.icon_box {
  background-color: #e8e8e8;
  width: 13.9375rem;
  height: 13.9375rem;
  padding: 1.375rem;
  box-sizing: border-box;
  margin: 3.125rem 0.375rem 1.25rem 0.375rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: hidden; }
  .icon_box > p {
    font-size: 0.875rem; }
  .icon_box-title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 2.625rem;
    margin-bottom: 0.625rem; }
  .icon_box-wrapper {
    text-align: center; }
  .icon_box-icon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 4em;
    color: white;
    font-size: 2.375rem;
    width: 5.6875rem;
    text-align: center;
    position: absolute;
    margin-top: -4.5625rem;
    margin-left: 2.25rem; }
  .icon_box--passion .icon_box-icon {
    background-color: #A8228E; }
    .icon_box--passion .icon_box-icon::before {
      content: "\f004"; }
  .icon_box--speed .icon_box-icon {
    background-color: #0065B2; }
    .icon_box--speed .icon_box-icon::before {
      content: "\f0e7"; }
  .icon_box--creativity .icon_box-icon {
    background-color: #84BD00; }
    .icon_box--creativity .icon_box-icon::before {
      content: "\f0c3"; }
  .icon_box--magic .icon_box-icon {
    background-color: #f58220; }
    .icon_box--magic .icon_box-icon::before {
      content: "\f0d0"; }

div.snippet_slideshow {
  background: none;
  border: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }
  @media (min-width: 670px) {
    div.snippet_slideshow {
      width: 515px; } }
  @media (min-width: 1070px) {
    div.snippet_slideshow {
      width: 960px; } }
  div.snippet_slideshow .flex-direction-nav a {
    top: 30%; }
  div.snippet_slideshow .flex-direction-nav a:before {
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #5d5d5d; }
  div.snippet_slideshow .flex-direction-nav a.flex-next {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .flex-direction-nav a.flex-next {
        display: block;
        right: -50px; } }
  @media (min-width: 670px) {
    div.snippet_slideshow:hover .flex-direction-nav a.flex-next {
      right: -50px; } }
  div.snippet_slideshow .flex-direction-nav a.flex-next:before {
    content: '\f0a9'; }
  div.snippet_slideshow .flex-direction-nav a.flex-prev {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .flex-direction-nav a.flex-prev {
        display: block;
        left: -50px; } }
  @media (min-width: 670px) {
    div.snippet_slideshow:hover .flex-direction-nav a.flex-prev {
      left: -50px; } }
  div.snippet_slideshow .flex-direction-nav a.flex-prev:before {
    content: '\f0a8'; }
  div.snippet_slideshow .snippet-author_photo {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .snippet-author_photo {
        display: block; } }

.snippet {
  overflow: auto;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top; }
  .snippet-content {
    width: 372px;
    margin-left: 20px;
    float: left; }
    .snippet-content > p {
      font-size: 0.875rem; }
  .snippet-title {
    font-size: 1.375rem;
    margin-bottom: 0.64em;
    margin-top: 0; }
  .snippet-attribution {
    font-style: italic; }
    .snippet-attribution > a {
      color: #515151; }
      .snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
        color: #515151; }
  .snippet-author_photo {
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 200px;
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    float: left;
    margin-top: 37px; }

.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input *, div.contact_form-interest .selectize-dropdown-content {
  font-size: 1.125rem;
  letter-spacing: 0.16em;
  color: #aeaeae; }

.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input {
  background-color: #EEEEEE;
  border: 1px solid #DADADA;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem 1.75rem 0.4375rem 1.75rem;
  margin-top: 1.25rem; }

.contact_form {
  width: auto;
  margin: 0 auto; }
  @media (min-width: 530px) {
    .contact_form {
      width: 29.5rem; } }
  .contact_form > p {
    font-size: 1.1875rem;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #7a7a7a;
    text-align: center; }
  .contact_form-radio_wrapper {
    display: inline-block; }
  .contact_form-type {
    text-align: center; }
    .contact_form-type label {
      font-size: 1.25rem;
      letter-spacing: 0.1em;
      margin: 0 0.875rem; }
      .contact_form-type label::before {
        content: '';
        font-size: 0.61875rem;
        width: 1.375rem;
        height: 1.375rem;
        color: white;
        border-radius: 3em;
        border: 1px solid #DADADA;
        line-height: 22px;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 0.6em 0 0;
        vertical-align: text-bottom; }
    .contact_form-type input[type='radio']:checked + label::before {
      font-family: "Font Awesome 5 Free";
      content: '\f00c';
      font-size: 0.61875rem;
      width: 1.375rem;
      height: 1.375rem;
      background-color: #1A87C7;
      color: white;
      border-radius: 3em;
      line-height: 22px;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      margin: 0 0.6em 0 0; }
    .contact_form-type input[type='radio'] {
      display: none; }
  .contact_form-comments {
    height: 9.125rem;
    padding: 0.9375rem 1.75rem; }
  .contact_form-comments::placeholder, .contact_form-name::placeholder, .contact_form-email::placeholder {
    color: #aeaeae; }
  .contact_form-submit {
    width: 100%;
    height: 2.125rem;
    margin-top: 1.25rem; }

div.contact_form-interest .selectize-input {
  box-shadow: none;
  -webkit-box-shadow: none; }

div.contact_form-interest .selectize-dropdown-content {
  padding: 0.625rem 1.75rem 0.4375rem 1.125rem; }

.site_footer {
  font-size: 0.875rem;
  color: #aeaeae;
  background-color: #515151;
  padding: 2.125em 1.875em; }
  @media (min-width: 1010px) {
    .site_footer {
      font-size: 1rem; } }
  .site_footer-contact_info {
    text-align: center;
    margin: 1.25rem 0; }
    .site_footer-contact_info > p {
      margin-top: 0.1875em;
      margin-bottom: 0.1875em; }
    @media (min-width: 1010px) {
      .site_footer-contact_info {
        float: left;
        text-align: left;
        margin-top: -0.625rem; } }
  .site_footer-copyright {
    color: white;
    font-weight: 100; }
  .site_footer-phone::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 0.2em;
    content: '\f095';
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg); }
  .site_footer-nav_wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 0.6em auto; }
    @media (min-width: 1010px) {
      .site_footer-nav_wrapper {
        width: 26.8125em; } }
  .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    margin-left: 0.625em;
    margin-right: 0.625em; }
  .site_footer-nav--alt {
    border-top: 1px solid #5d5d5d;
    margin-top: 0.625rem;
    padding-top: 0.875rem; }
    .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
      color: #aeaeae; }
  .site_footer-social_nav {
    text-align: center;
    margin-bottom: 1.25rem; }
    .site_footer-social_nav > a {
      font-size: 1rem;
      width: 1.5625rem;
      height: 1.5625rem;
      background-color: white;
      color: #515151;
      border-radius: 3em;
      line-height: 1.5625rem;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 0 0.1em 0 0.1em; }
      .site_footer-social_nav > a::before {
        font-family: "Font Awesome 5 Brands"; }
    @media (min-width: 1010px) {
      .site_footer-social_nav {
        float: right;
        text-align: center; } }
  .site_footer-facebook_link::before {
    content: "\f39e"; }
  .site_footer-twitter_link::before {
    content: "\f099"; }
  .site_footer-linkedin_link::before {
    content: "\f0e1"; }

/*# sourceMappingURL=styles.css.map */