/*!
 * Font Awesome Free 5.4.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

@font-face {
  font-family: "fedfont";
  src: url("../fontastic/fonts/fedfont.eot");
  src: url("../fontastic/fonts/fedfont.eot?#iefix") format("embedded-opentype"), url("../fontastic/fonts/fedfont.woff") format("woff"), url("../fontastic/fonts/fedfont.ttf") format("truetype"), url("../fontastic/fonts/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  width: 100%; }

body {
  font-family: sans-serif;
  font-weight: 100;
  color: #515151; }

h1, h2, h3 {
  font-weight: 100; }

p {
  line-height: 1.7; }

.site_header-top, .site_header-bottom_inner, .stacked_hero_section {
  width: auto;
  margin: 0 20px;
  border: none; }
  @media (min-width: 1000px) {
    .site_header-top, .site_header-bottom_inner, .stacked_hero_section {
      width: 960px;
      margin-left: auto;
      margin-right: auto; } }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75em 2.5em 0.5em 2.5em;
  border-radius: 0.2em;
  border-top: 1px solid #bdff24;
  border-bottom: 1px solid #4f7100;
  border-left: none;
  border-right: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .button:hover, .button:visited, .button:link, .button:active {
    color: white;
    text-decoration: none; }
  .button-pill {
    font-size: 1.1875rem;
    font-weight: 100;
    border-radius: 2em;
    padding: 0.5em 1.5em 0.375em 1.5em;
    text-shadow: none; }

.site_header-top {
  overflow: auto;
  padding: 1.25rem 0; }

.site_header-logo {
  display: block;
  width: 100%;
  margin-bottom: 20px; }
  @media (min-width: 525px) {
    .site_header-logo {
      width: 450px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 670px) {
    .site_header-logo {
      width: auto;
      float: left;
      margin: 0; } }

.site_header-top_right {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 0 1.25rem; }
  @media (min-width: 670px) {
    .site_header-top_right {
      width: auto;
      float: right;
      margin: inherit;
      text-align: inherit;
      padding-top: 0.375rem; } }

.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75em 0;
  overflow: auto;
  border-top: 1px solid #DADADA; }

.site_header-nav {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.375rem; }
  @media (min-width: 670px) {
    .site_header-nav {
      float: left;
      text-align: inherit;
      margin-bottom: 0; } }
  .site_header-nav a {
    display: inline-block; }
  .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 100;
    padding: 0.3em 0.6em; }
  .site_header-nav a.is-active {
    border: 1px solid #aeaeae;
    background-color: #DADADA;
    border-radius: 0.2em; }

.site_header-phone {
  display: block;
  width: 10.625rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (min-width: 670px) {
    .site_header-phone {
      float: right;
      width: auto;
      text-align: inherit;
      display: inline-block;
      margin: 0; } }
  .site_header-phone::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: '\f095';
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg); }

.site_header-account_link {
  display: inline-block;
  line-height: 1.8125rem;
  margin-right: 1.25rem; }
  .site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:link, .site_header-account_link:active {
    color: #7a7a7a;
    text-decoration: none;
    font-size: 1.125rem; }
  .site_header-account_link::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: '\f007';
    margin-right: 0.35em;
    font-size: 0.9em; }

.site_header .search_form {
  display: inline-block;
  vertical-align: top; }

/* Add this rule separately to  increase specificity so that background image shows */
div.slideshow {
  position: relative;
  height: 39.375rem;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-size: cover;
  background-position: bottom;
  width: auto;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid white; }
  @media (min-width: 800px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg-2000.jpg"); } }
  @media (min-width: 1500px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg-3000.jpg"); } }
  @media (min-width: 2500px) {
    div.slideshow {
      background-image: url("../images/slideshow-bg.jpg"); } }

.slideshow-slide {
  padding: 0 20px;
  width: auto; }
  @media (min-width: 820px) {
    .slideshow-slide {
      padding: 0 0 0 11.875rem;
      width: 31.25rem; } }
  .slideshow-slide > p {
    color: white;
    font-size: 1.125rem; }

.slideshow-slide_title {
  font-size: 2.75rem;
  color: white;
  margin-top: -0.625rem;
  margin-bottom: 0.5em; }

.slideshow ul.slides {
  height: 39.375rem; }
  .slideshow ul.slides li {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.slideshow .flex-direction-nav a {
  display: none; }
  @media (min-width: 820px) {
    .slideshow .flex-direction-nav a {
      display: block;
      width: 6.25rem;
      height: 6.25rem; } }

.slideshow .flex-direction-nav a:before {
  font-family: "fedfont";
  color: white;
  font-size: 6.25rem; }

.slideshow .flex-direction-nav a.flex-next:before {
  content: 'd'; }

.slideshow .flex-direction-nav a.flex-prev:before {
  content: 'c'; }

.slideshow .flex-control-nav {
  bottom: 0.75rem; }

.slideshow .flex-control-nav li {
  margin: 0 0.25rem; }

.slideshow .flex-control-paging li a {
  background: rgba(255, 255, 255, 0.9); }
  .slideshow .flex-control-paging li a:hover {
    background: rgba(255, 255, 255, 0.9); }

.slideshow .flex-control-paging li a.flex-active {
  background: rgba(255, 255, 255, 0.5); }

.slideshow-wrapper {
  position: relative; }
  .slideshow-wrapper:after {
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    height: 50%;
    bottom: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border-radius: 30%;
    z-index: -1; }

.search_form-phrase {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 1.875rem;
  margin-left: -.4em;
  width: 8.3125rem;
  border: 1px solid #aeaeae;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  outline: none; }

.search_form-submit {
  display: inline-block;
  border: 1px solid #aeaeae;
  vertical-align: top;
  height: 1.875rem;
  box-sizing: border-box;
  margin-left: -0.4em;
  width: 2.3125rem;
  background-color: #F4F4F4;
  border-radius: 0 3px 3px 0; }
  .search_form-submit::before {
    font-family: "fedfont";
    content: 'a';
    color: #aeaeae;
    font-size: 1.25rem;
    display: inline-block;
    margin-top: 0.1875rem; }

div.search_form-type {
  width: 4.875rem;
  vertical-align: top;
  display: inline-block; }
  div.search_form-type div.selectize-input.items.full.has-options.has-items::after {
    border: none; }
  div.search_form-type div.selectize-input.items.full.has-options.has-items::before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.125rem;
    content: "\f0dc";
    color: #aeaeae;
    margin-right: 0.4em; }
  div.search_form-type div.selectize-input {
    height: 1.875rem;
    font-size: 1rem;
    color: #7a7a7a;
    padding: 0.25rem 0.5rem;
    background-color: #F4F4F4;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid #aeaeae; }

.stacked_hero_section {
  overflow: auto;
  padding: 90px 0; }
  .stacked_hero_section-title {
    font-size: 2.125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    padding-bottom: 0.8em;
    margin-bottom: 0.9em;
    margin-top: 0; }
  .stacked_hero_section--alt {
    background-color: #e8e8e8;
    width: auto;
    margin: 0;
    overflow: hidden; }
    .stacked_hero_section--alt > .stacked_hero_section-title {
      border-bottom-color: white;
      width: auto;
      margin-left: 20px;
      margin-right: 20px; }
      @media (min-width: 960px) {
        .stacked_hero_section--alt > .stacked_hero_section-title {
          width: 960px;
          margin-left: auto;
          margin-right: auto; } }
  .stacked_hero_section--qualities .icon_box-wrapper {
    max-width: 612px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1000px) {
      .stacked_hero_section--qualities .icon_box-wrapper {
        width: auto;
        max-width: none; } }

.icon_box {
  background-color: #e8e8e8;
  width: 13.9375rem;
  height: 13.9375rem;
  padding: 1.375rem;
  box-sizing: border-box;
  margin: 3.125rem 0.375rem 1.25rem 0.375rem;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: hidden; }
  .icon_box > p {
    font-size: 0.875rem; }
  .icon_box-title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 2.625rem;
    margin-bottom: 0.625rem; }
  .icon_box-wrapper {
    text-align: center; }
  .icon_box-icon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 4em;
    color: white;
    font-size: 2.375rem;
    width: 5.6875rem;
    text-align: center;
    position: absolute;
    margin-top: -4.5625rem;
    margin-left: 2.25rem; }
  .icon_box--passion .icon_box-icon {
    background-color: #A8228E; }
    .icon_box--passion .icon_box-icon::before {
      content: "\f004"; }
  .icon_box--speed .icon_box-icon {
    background-color: #0065B2; }
    .icon_box--speed .icon_box-icon::before {
      content: "\f0e7"; }
  .icon_box--creativity .icon_box-icon {
    background-color: #84BD00; }
    .icon_box--creativity .icon_box-icon::before {
      content: "\f0c3"; }
  .icon_box--magic .icon_box-icon {
    background-color: #f58220; }
    .icon_box--magic .icon_box-icon::before {
      content: "\f0d0"; }

div.snippet_slideshow {
  background: none;
  border: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }
  @media (min-width: 670px) {
    div.snippet_slideshow {
      width: 515px; } }
  @media (min-width: 1070px) {
    div.snippet_slideshow {
      width: 960px; } }
  div.snippet_slideshow .flex-direction-nav a {
    top: 30%; }
  div.snippet_slideshow .flex-direction-nav a:before {
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #5d5d5d; }
  div.snippet_slideshow .flex-direction-nav a.flex-next {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .flex-direction-nav a.flex-next {
        display: block;
        right: -50px; } }
  @media (min-width: 670px) {
    div.snippet_slideshow:hover .flex-direction-nav a.flex-next {
      right: -50px; } }
  div.snippet_slideshow .flex-direction-nav a.flex-next:before {
    content: '\f0a9'; }
  div.snippet_slideshow .flex-direction-nav a.flex-prev {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .flex-direction-nav a.flex-prev {
        display: block;
        left: -50px; } }
  @media (min-width: 670px) {
    div.snippet_slideshow:hover .flex-direction-nav a.flex-prev {
      left: -50px; } }
  div.snippet_slideshow .flex-direction-nav a.flex-prev:before {
    content: '\f0a8'; }
  div.snippet_slideshow .snippet-author_photo {
    display: none; }
    @media (min-width: 670px) {
      div.snippet_slideshow .snippet-author_photo {
        display: block; } }

.snippet {
  overflow: auto;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top; }
  .snippet-content {
    width: 372px;
    margin-left: 20px;
    float: left; }
    .snippet-content > p {
      font-size: 0.875rem; }
  .snippet-title {
    font-size: 1.375rem;
    margin-bottom: 0.64em;
    margin-top: 0; }
  .snippet-attribution {
    font-style: italic; }
    .snippet-attribution > a {
      color: #515151; }
      .snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
        color: #515151; }
  .snippet-author_photo {
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 200px;
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    float: left;
    margin-top: 37px; }

.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input *, div.contact_form-interest .selectize-dropdown-content {
  font-size: 1.125rem;
  letter-spacing: 0.16em;
  color: #aeaeae; }

.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input {
  background-color: #EEEEEE;
  border: 1px solid #DADADA;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem 1.75rem 0.4375rem 1.75rem;
  margin-top: 1.25rem; }

.contact_form {
  width: auto;
  margin: 0 auto; }
  @media (min-width: 530px) {
    .contact_form {
      width: 29.5rem; } }
  .contact_form > p {
    font-size: 1.1875rem;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #7a7a7a;
    text-align: center; }
  .contact_form-radio_wrapper {
    display: inline-block; }
  .contact_form-type {
    text-align: center; }
    .contact_form-type label {
      font-size: 1.25rem;
      letter-spacing: 0.1em;
      margin: 0 0.875rem; }
      .contact_form-type label::before {
        content: '';
        font-size: 0.61875rem;
        width: 1.375rem;
        height: 1.375rem;
        color: white;
        border-radius: 3em;
        border: 1px solid #DADADA;
        line-height: 22px;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 0.6em 0 0;
        vertical-align: text-bottom; }
    .contact_form-type input[type='radio']:checked + label::before {
      font-family: "Font Awesome 5 Free";
      content: '\f00c';
      font-size: 0.61875rem;
      width: 1.375rem;
      height: 1.375rem;
      background-color: #1A87C7;
      color: white;
      border-radius: 3em;
      line-height: 22px;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      margin: 0 0.6em 0 0; }
    .contact_form-type input[type='radio'] {
      display: none; }
  .contact_form-comments {
    height: 9.125rem;
    padding: 0.9375rem 1.75rem; }
  .contact_form-comments::placeholder, .contact_form-name::placeholder, .contact_form-email::placeholder {
    color: #aeaeae; }
  .contact_form-submit {
    width: 100%;
    height: 2.125rem;
    margin-top: 1.25rem; }

div.contact_form-interest .selectize-input {
  box-shadow: none;
  -webkit-box-shadow: none; }

div.contact_form-interest .selectize-dropdown-content {
  padding: 0.625rem 1.75rem 0.4375rem 1.125rem; }

.site_footer {
  font-size: 0.875rem;
  color: #aeaeae;
  background-color: #515151;
  padding: 2.125em 1.875em; }
  @media (min-width: 1010px) {
    .site_footer {
      font-size: 1rem; } }
  .site_footer-contact_info {
    text-align: center;
    margin: 1.25rem 0; }
    .site_footer-contact_info > p {
      margin-top: 0.1875em;
      margin-bottom: 0.1875em; }
    @media (min-width: 1010px) {
      .site_footer-contact_info {
        float: left;
        text-align: left;
        margin-top: -0.625rem; } }
  .site_footer-copyright {
    color: white;
    font-weight: 100; }
  .site_footer-phone::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 0.2em;
    content: '\f095';
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg); }
  .site_footer-nav_wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 0.6em auto; }
    @media (min-width: 1010px) {
      .site_footer-nav_wrapper {
        width: 26.8125em; } }
  .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    margin-left: 0.625em;
    margin-right: 0.625em; }
  .site_footer-nav--alt {
    border-top: 1px solid #5d5d5d;
    margin-top: 0.625rem;
    padding-top: 0.875rem; }
    .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
      color: #aeaeae; }
  .site_footer-social_nav {
    text-align: center;
    margin-bottom: 1.25rem; }
    .site_footer-social_nav > a {
      font-size: 1rem;
      width: 1.5625rem;
      height: 1.5625rem;
      background-color: white;
      color: #515151;
      border-radius: 3em;
      line-height: 1.5625rem;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 0 0.1em 0 0.1em; }
      .site_footer-social_nav > a::before {
        font-family: "Font Awesome 5 Brands"; }
    @media (min-width: 1010px) {
      .site_footer-social_nav {
        float: right;
        text-align: center; } }
  .site_footer-facebook_link::before {
    content: "\f39e"; }
  .site_footer-twitter_link::before {
    content: "\f099"; }
  .site_footer-linkedin_link::before {
    content: "\f0e1"; }

/*# sourceMappingURL=styles.css.map */