// Placeholder selector
%-l-full-width {
  width: auto;  // auto works better than 100% but they both do the same thing
  margin: 0 20px;
  border: none;

  @media (min-width: 1000px) {
    width: $max_width;
    margin-left: auto;
    margin-right: auto;
  }
}

