// Colors
$dark-gray: #515151;
$medium-darkest-gray: #5d5d5d;
$medium-darker-gray: #7a7a7a;
$medium-dark-gray: #aeaeae;
$medium-gray: #DADADA;
$light-gray: #e8e8e8;
$lighter-gray: #EEEEEE;
$lightest-gray: #F4F4F4;
$white: white;
$green: #84BD00;
$purple: #A8228E;
$blue: #0065B2;
$lighter-blue: #1A87C7;
$orange: #f58220;

// Typography
$default-font-weight: 100;
$default-font-size: 16;

// Layout - this is the widest we want the "stacked hero" sections to be
$max_width: 960px;
