/*!
 * Font Awesome Free 5.4.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot");
  src: url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff2") format("woff2"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff") format("woff"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.ttf") format("truetype"), url("../bower_components/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

body {
  font-family: sans-serif;
  font-weight: 100;
  color: #515151; }

h1, h2, h3 {
  font-weight: 100; }

p {
  line-height: 1.7; }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75em 2.5em 0.5em 2.5em;
  border-radius: 0.2em;
  border-top: 1px solid #bdff24;
  border-bottom: 1px solid #4f7100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .button:hover, .button:visited, .button:link, .button:active {
    color: white;
    text-decoration: none; }
  .button-pill {
    font-size: 1.1875rem;
    font-weight: 100;
    border-radius: 2em;
    padding: 0.5em 1.5em 0.375em 1.5em;
    text-shadow: none; }

.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75em; }

.site_header-nav {
  font-size: 1.375rem; }
  .site_header-nav a {
    display: inline-block; }
  .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 100;
    padding: 0.3em 0.6em; }
  .site_header-nav a.is-active {
    border: 1px solid #aeaeae;
    background-color: #DADADA;
    border-radius: 0.2em; }

.site_header-phone::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: '\f095';
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari 3-8 */
  transform: rotate(90deg); }

.site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:link, .site_header-account_link:active {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 1.125rem; }

.site_header-account_link::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: '\f007';
  margin-right: 0.35em;
  font-size: 0.9em; }

.stacked_hero_section-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #DADADA;
  text-align: center;
  padding-bottom: 0.8em;
  margin-bottom: 0.9em; }

.stacked_hero_section--alt {
  background-color: #e8e8e8;
  padding: 0.3em 3.6em; }
  .stacked_hero_section--alt > .stacked_hero_section-title {
    border-bottom-color: white; }

.slide {
  background-color: #797762;
  padding: 3px; }
  .slide > .slide-title {
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0.5em; }
  .slide > p {
    color: white;
    font-size: 1.125rem; }

.icon_box {
  background-color: #e8e8e8;
  padding: 1px; }
  .icon_box > p {
    font-size: 0.875rem; }
  .icon_box-title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center; }
  .icon_box-icon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding: 1.875rem 0 1.875rem 0;
    border-radius: 4em;
    color: white;
    font-size: 2.375rem;
    width: 6.25rem;
    text-align: center; }
  .icon_box--passion .icon_box-icon {
    background-color: #A8228E; }
    .icon_box--passion .icon_box-icon::before {
      content: "\f004"; }
  .icon_box--speed .icon_box-icon {
    background-color: #0065B2; }
    .icon_box--speed .icon_box-icon::before {
      content: "\f0e7"; }
  .icon_box--creativity .icon_box-icon {
    background-color: #84BD00; }
    .icon_box--creativity .icon_box-icon::before {
      content: "\f0c3"; }
  .icon_box--magic .icon_box-icon {
    background-color: #f58220; }
    .icon_box--magic .icon_box-icon::before {
      content: "\f0d0"; }

.snippet > p {
  font-size: 0.875rem; }

.snippet-title {
  font-size: 1.375rem;
  margin-bottom: 0.64em; }

.snippet-attribution {
  font-style: italic; }
  .snippet-attribution > a {
    color: #515151; }
    .snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
      color: #515151; }

.site_footer {
  color: #aeaeae;
  background-color: #515151;
  padding: 2.125em 1.875em; }
  .site_footer > p {
    margin-top: 0.1875em;
    margin-bottom: 0.1875em; }
  .site_footer-copyright {
    color: white;
    font-weight: 100; }
  .site_footer-phone::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 0.2em;
    content: '\f095';
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg); }
  .site_footer-nav {
    width: 26.8125em;
    text-align: center;
    margin: 0 auto 0.6em auto; }
    .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 100;
      margin-left: 0.625em;
      margin-right: 0.625em; }
  .site_footer-nav--alt {
    border-top: 1px solid #5d5d5d;
    padding-top: 0.8em; }
    .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
      color: #aeaeae; }
  .site_footer-social_nav > a {
    font-size: 1rem;
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: white;
    color: #515151;
    border-radius: 3em;
    line-height: 1.5625rem;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 0.1em 0 0.1em; }
    .site_footer-social_nav > a::before {
      font-family: "Font Awesome 5 Brands"; }
  .site_footer-facebook_link::before {
    content: "\f39e"; }
  .site_footer-twitter_link::before {
    content: "\f099"; }
  .site_footer-linkedin_link::before {
    content: "\f0e1"; }

/*# sourceMappingURL=styles.css.map */