.site_footer {
  color: $medium-dark-gray;
  background-color: $dark-gray;
  > p {
    $margin: (3/$default-font-size) + em;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &-copyright {
    color: $white;
    font-weight: 100;
  }

  &-primary_nav {
     a {
      &:hover, &:visited, &:link, &:active {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight:100;
        margin-left: (10/$default-font-size) + em;
        margin-right: (10/$default-font-size) + em;
      }
    }
  }
}
