.snippet {
  > p {
    font-size: 14px;
  }
  &-title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
  &-attribution  {
    font-style: italic;
    & > a {
      color: $dark-gray;
      &:hover, &:visited, &:link, &:active {
        color: $dark-gray;
      }
    }
  }
}