// Components
.stacked_hero_section-title {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 3px; // TODO: Make it relative
  border-bottom: 1px solid $medium-gray;
  text-align: center;
  padding-bottom: 28px;
  margin-bottom: 32px;
}

.stacked_hero_section--alt {
  background-color: $light-gray;
  padding: 10px 121px;
  > .stacked_hero_section-title {
    border-bottom-color: $white;
  }
}