.slide {
  background-color: #797762;
  padding: 3px;
}

.slide > .slide-title {
  font-family: sans-serif;
  font-size: 44px;
  /* border: 1px solid red; */
  color: white;
  font-weight: 100;
}

.stacked_hero_section-title {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #6d6d6d;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 28px 0;
}


section.different {
  background-color: #e8e8e8;
  padding: 10px 121px;
}

section.different > .stacked_hero_section-title {
  border-bottom-color: white;
}

