.icon_box {
  background-color: #e8e8e8;
  padding: 1px;
  > p { // TODO: unify paragraph styles
    font-size: px2rem(14);
  }

  &-title {
    font-size: px2rem(26);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
  }

  &-icon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding: px2rem(30) 0 px2rem(30) 0;
    border-radius: 4em;
    color: white;
    font-size: px2rem(38);
    width: px2rem(100); // width should be ~ 2 x padding + font-size
    text-align: center
  }

  &--passion {
    .icon_box-icon {
      background-color: $purple;
      &::before {
        content: "\f004";  // Unicode version of entity code
      }
    }
  }

  &--speed {
    .icon_box-icon {
      background-color: $blue;
      &::before {
        content: "\f0e7";
      }
    }

  }

  &--creativity {
    .icon_box-icon {
      background-color: $green;
      &::before {
        content: "\f0c3";
      }
    }
  }

  &--magic {
    .icon_box-icon {
      background-color: $orange;
      &::before {
        content: "\f0d0";
      }
    }
  }
}