.site_header {
  &-bottom {
    background-color: $light-gray;
    padding: px2em(12);
  }
  &-nav {
    font-size: px2rem(22);
    a {
      display: inline-block;
    }
    a {
      &:hover, &:visited, &:link, &:active {
        color: $medium-darker-gray;
        text-decoration: none;
        font-weight: 100;
        padding: 0.3em 0.6em;
      }
    }
    a.is-active {
      border: 1px solid $medium-dark-gray;
      background-color: $medium-gray;
      border-radius: 0.2em;
    }
  }

  &-phone {
    &::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      content: '\f095';
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari 3-8 */
      transform: rotate(90deg);
    }
  }

  &-account_link {
    &:hover, &:visited, &:link, &:active {
      color: $medium-darker-gray;
      text-decoration: none;
      font-size: px2rem(18);
    }
    &::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      content: '\f007';
      margin-right: 0.35em;
      font-size: 0.9em;
    }
  }
}
