.site_footer {
  color: $medium-dark-gray;
  background-color: $dark-gray;
  > p {
    $margin: px2em(3);
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &-copyright {
    color: $white;
    font-weight: 100;
  }

  &-primary_nav {
     a {
      &:hover, &:visited, &:link, &:active {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 100;
        margin-left: px2em(10);
        margin-right: px2em(10);
      }
    }
  }
}
