.slide {
  background-color: #797762;
  padding: 3px;
  & > &-title {
    font-size: px2rem(44);
    color: $white;
    margin-bottom: 0.5em;
  }
  > p {
    color: $white;
    font-size: px2rem(18);
  }
}