// Components
.stacked_hero_section-title {
  font-size: px2rem(34);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $medium-gray;
  text-align: center;
  padding-bottom: 0.8em;
  margin-bottom: 0.9em;
}

.stacked_hero_section--alt {
  background-color: $light-gray;
  padding: 0.3em 3.6em;
  > .stacked_hero_section-title {
    border-bottom-color: $white;
  }
}