@charset "UTF-8";

@font-face {
  font-family: "fedfont";
  src:url("fedfont.eot");
  src:url("fedfont.eot?#iefix") format("embedded-opentype"),
    url("fedfont.woff") format("woff"),
    url("fedfont.ttf") format("truetype"),
    url("fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fedfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fedfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-left-open-big:before {
  content: "\63";
}
.icon-right-open-big:before {
  content: "\64";
}
