/*!
 * Font Awesome Free 5.4.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
$path: '../bower_components/fontawesome/web-fonts-with-css/webfonts/';

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url($path + "fa-solid-900.eot");
  src: url($path + "fa-solid-900.eot?#iefix") format("embedded-opentype"), url($path + "fa-solid-900.woff2") format("woff2"), url($path + "fa-solid-900.woff") format("woff"), url($path + "fa-solid-900.ttf") format("truetype"), url( $path + "fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url($path + "fa-brands-400.eot");
  src: url($path + "fa-brands-400.eot?#iefix") format("embedded-opentype"), url($path + "fa-brands-400.woff2") format("woff2"), url($path + "fa-brands-400.woff") format("woff"), url($path + "fa-brands-400.ttf") format("truetype"), url($path + "fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

// Default HTML elements
body {
  font-family: sans-serif;
  font-weight: $default-font-weight;
  color: $dark-gray;
}

h1, h2, h3 {
  font-weight: $default-font-weight;
}

p {
  line-height: 1.7;
}