// Test file for experimenting with fontawesome icons
// Put the following HTML in index.html to see icons
// <div class="icon icon--circle">&#xf0e7;</div>
// <div class="icon icon--circle">&#xf0c3;</div>
// <div class="icon icon--circle">&#xf0d0;</div>

// Also don't forget to add @import "play.scss" to styles.scss
.icon {
  font-family: "Font Awesome 5 Free";

  &--circle {
    display: inline-block;
    padding: 30px 0 30px 0;
    border-radius: 4em;
    color: white;
    background-color: #A8228E;
    font-size: 38px;
    width: 100px;
    text-align: center
  }
}

// Put the following HTML to see telephone icon
// <a class="button button-pill" href="#"><span class="play-font">&#xf095;</span>&nbsp;1-800-333-3456</a>
.play-font {
  font-family: "Font Awesome 5 Free";
}