body {
  font-family: sans-serif;
  font-weight: 100;
  color: #515151; }

h1, h2, h3 {
  font-weight: 100; }

p {
  line-height: 1.7; }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75em 2.5em 0.5em 2.5em;
  border-radius: 0.2em;
  border-top: 1px solid #bdff24;
  border-bottom: 1px solid #4f7100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .button:hover, .button:visited, .button:link, .button:active {
    color: white;
    text-decoration: none; }
  .button-pill {
    font-size: 1.1875rem;
    font-weight: 100;
    border-radius: 2em;
    padding: 0.5em 1.5em 0.375em 1.5em;
    text-shadow: none; }

.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75em; }

.site_header-nav {
  font-size: 1.375rem; }
  .site_header-nav a {
    display: inline-block; }
  .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 100;
    padding: 0.3em 0.6em; }
  .site_header-nav a.is-active {
    border: 1px solid #aeaeae;
    background-color: #DADADA;
    border-radius: 0.2em; }

.stacked_hero_section-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #DADADA;
  text-align: center;
  padding-bottom: 0.8em;
  margin-bottom: 0.9em; }

.stacked_hero_section--alt {
  background-color: #e8e8e8;
  padding: 0.3em 3.6em; }
  .stacked_hero_section--alt > .stacked_hero_section-title {
    border-bottom-color: white; }

.slide {
  background-color: #797762;
  padding: 3px; }
  .slide > .slide-title {
    font-size: 2.75rem;
    color: white;
    margin-bottom: 0.5em; }
  .slide > p {
    color: white;
    font-size: 1.125rem; }

.icon_box {
  background-color: #e8e8e8;
  padding: 1px; }
  .icon_box > p {
    font-size: 0.875rem; }
  .icon_box-title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center; }

.snippet > p {
  font-size: 0.875rem; }

.snippet-title {
  font-size: 1.375rem;
  margin-bottom: 0.64em; }

.snippet-attribution {
  font-style: italic; }
  .snippet-attribution > a {
    color: #515151; }
    .snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
      color: #515151; }

.site_footer {
  color: #aeaeae;
  background-color: #515151;
  padding: 2.125em 1.875em; }
  .site_footer > p {
    margin-top: 0.1875em;
    margin-bottom: 0.1875em; }
  .site_footer-copyright {
    color: white;
    font-weight: 100; }
  .site_footer-nav {
    width: 26.8125em;
    text-align: center;
    margin: 0 auto 0.6em auto; }
    .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 100;
      margin-left: 0.625em;
      margin-right: 0.625em; }
  .site_footer-nav--alt {
    border-top: 1px solid #5d5d5d;
    padding-top: 0.8em; }
    .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
      color: #aeaeae; }

/*# sourceMappingURL=styles.css.map */