body {
  font-family: sans-serif;
  font-weight: 100;
  color: #515151; }

h1, h2, h3 {
  font-weight: 100; }

p {
  line-height: 1.7; }

.stacked_hero_section-title {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #dadada;
  text-align: center;
  padding-bottom: 28px;
  margin-bottom: 32px; }

.stacked_hero_section--alt {
  background-color: #e8e8e8;
  padding: 10px 121px; }
  .stacked_hero_section--alt > .stacked_hero_section-title {
    border-bottom-color: white; }

.slide {
  background-color: #797762;
  padding: 3px; }
  .slide > .slide-title {
    font-size: 44px;
    color: white;
    margin-bottom: 20px; }
  .slide > p {
    color: white;
    font-size: 18px; }

.icon_box {
  background-color: #e8e8e8;
  padding: 1px; }
  .icon_box > p {
    font-size: 14px; }
  .icon_box-title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center; }

.snippet > p {
  font-size: 14px; }

.snippet-title {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 14px; }

.snippet-attribution {
  font-style: italic; }
  .snippet-attribution > a {
    color: #515151; }
    .snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
      color: #515151; }

.site_footer {
  color: #a4a4a4;
  background-color: #515151; }
  .site_footer > p {
    margin-top: 0.1875em;
    margin-bottom: 0.1875em; }
  .site_footer-copyright {
    color: white;
    font-weight: 100; }
  .site_footer-primary_nav a:hover, .site_footer-primary_nav a:visited, .site_footer-primary_nav a:link, .site_footer-primary_nav a:active {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    margin-left: 0.625em;
    margin-right: 0.625em; }

/*# sourceMappingURL=styles.css.map */