// Colors
$dark-gray: #515151;
$medium-darkest-gray: #5d5d5d;
$medium-darker-gray: #7a7a7a;
$medium-dark-gray: #aeaeae;
$medium-gray: #DADADA;
$light-gray: #e8e8e8;
$white: white;
$green: #84BD00;

// Typography
$default-font-weight: 100;
$default-font-size: 16;