.button {
  $color: $green;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: $color;
  padding: px2em(12) px2em(40) px2em(8) px2em(40);
  border-radius: 0.2em;
  border-top: 1px solid lighten($color, 20%);
  border-bottom: 1px solid darken($color, 15%);
  border-left: none;
  border-right: none;
  color: $white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

  &:hover, &:visited, &:link, &:active {
    color: $white;
    text-decoration: none;
  }

  &-pill {
    font-size: px2rem(19);
    font-weight: 100;
    border-radius: 2em;
    padding: px2em(8) px2em(24) px2em(6) px2em(24);
    text-shadow: none;
  }

}