// Placeholder selector
%-contact_form---gray_input_input {
  font-size: px2rem(18);
  letter-spacing: 0.16em;
  color: $medium-dark-gray;
}

// Placeholder selector
%-contact_form---gray_input_box {
  background-color: $lighter-gray;
  border: 1px solid $medium-gray;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: px2rem(10) px2rem(28) px2rem(7) px2rem(28);
  margin-top: px2rem(20);
}

.contact_form {
  $full_width: 530px;

  // small screent
  width: auto;

  @media (min-width: $full_width) {
    width: px2rem(472);
  }

  margin: 0 auto;

  > p {
    font-size: px2rem(19);
    font-weight: 400;
    letter-spacing: 0.16em;
    color: $medium-darker-gray;
    text-align: center;
  }

  &-radio_wrapper {
    display: inline-block;
  }

  &-type {
    text-align: center;

    label {
      font-size: px2rem(20);
      letter-spacing: 0.1em;
      margin: 0 px2rem(14);

      // "hand-made" circle
      &::before {
        content: '';
        $size: 22;
        font-size: px2rem( 0.45 * $size);
        width: px2rem($size);
        height: px2rem($size);
        color: $white;
        border-radius: 3em;
        border: 1px solid $medium-gray;
        line-height: 22px;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 0.6em 0 0;
        vertical-align: text-bottom;
      }
    }

    // Place checkbox icon before label
    input[type='radio']:checked + label {
      &::before {
        font-family: "Font Awesome 5 Free";
        content: '\f00c';
        $size: 22;
        font-size: px2rem( 0.45 * $size);
        width: px2rem($size);
        height: px2rem($size);
        background-color: $lighter-blue;
        color: $white;
        border-radius: 3em;
        line-height: 22px;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        margin: 0 0.6em 0 0;
      }
    }

    input[type='radio'] {
      display: none;
    }
  }

  &-name, &-email {
    @extend %-contact_form---gray_input_input; // Extend/Inheritance
    @extend %-contact_form---gray_input_box;
  }

  &-comments {
    @extend %-contact_form---gray_input_input;
    @extend %-contact_form---gray_input_box;
    height: px2rem(146);
    padding: px2rem(15) px2rem(28);
  }

  &-comments::placeholder, &-name::placeholder, &-email::placeholder {
    color: $medium-dark-gray;
  }

  &-submit {
    width: 100%;
    height: px2rem(34);
    margin-top: px2rem(20);
  }
}

div.contact_form-interest {
  .selectize-input {
    @extend %-contact_form---gray_input_box;
    box-shadow: none;
    -webkit-box-shadow: none;

    * {
      @extend %-contact_form---gray_input_input;
    }
  }

  .selectize-dropdown-content {
    @extend %-contact_form---gray_input_input;
    padding: px2rem(10) px2rem(28) px2rem(7) px2rem(18);
  }

}