.icon_box {
  background-color: #e8e8e8;
  width: px2rem(223);
  height: px2rem(223);
  padding: px2rem(22);
  box-sizing: border-box;
  margin: px2rem(50) px2rem(6) px2rem(20) px2rem(6);
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: hidden;

  > p { // TODO: unify paragraph styles
    font-size: px2rem(14);
  }

  &-title {
    font-size: px2rem(26);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: px2rem(42);
    margin-bottom: px2rem(10);
  }

  &-wrapper {
    text-align: center;
  }

  &-icon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding: px2rem(24) 0 px2rem(24) 0;
    border-radius: 4em;
    color: white;
    font-size: px2rem(38);
    width: px2rem(91); // width should be ~ 2 x padding + font-size
    text-align: center;
    position: absolute;
    margin-top: px2rem(-73);
    margin-left: px2rem(36);
  }

  &--passion {
    .icon_box-icon {
      background-color: $purple;
      &::before {
        content: "\f004";  // Unicode version of entity code
      }
    }
  }

  &--speed {
    .icon_box-icon {
      background-color: $blue;
      &::before {
        content: "\f0e7";
      }
    }

  }

  &--creativity {
    .icon_box-icon {
      background-color: $green;
      &::before {
        content: "\f0c3";
      }
    }
  }

  &--magic {
    .icon_box-icon {
      background-color: $orange;
      &::before {
        content: "\f0d0";
      }
    }
  }
}