.search_form {

  &-phrase {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: px2rem(30);
    margin-left: -.4em;
    width: px2rem(133);
    border: 1px solid $medium-dark-gray;
    padding-left: px2rem(10);
    padding-right: px2rem(10);
    outline: none;
  }

  &-submit {
    display: inline-block;
    border: 1px solid $medium-dark-gray;
    vertical-align: top;
    height: px2rem(30);
    box-sizing: border-box;
    margin-left: -0.4em;
    width: px2rem(37);
    background-color: $lightest-gray;
    border-radius: 0 3px 3px 0;

    &::before {
      font-family: "fedfont";
      content: 'a';  // search icon
      color: $medium-dark-gray;
      font-size: px2rem(20);
      display: inline-block;
      margin-top: px2rem(3);
    }
  }
}

div.search_form-type {
  width: px2rem(78);
  vertical-align: top;
  display: inline-block;


  // Hide 'caret' in selector element
  div.selectize-input.items.full.has-options.has-items::after {
     border: none;
  }

  div.selectize-input.items.full.has-options.has-items::before {
    font-family: "Font Awesome 5 Free";
    font-size: px2rem(18);
    content: "\f0dc"; // 'sort' icon
    color: $medium-dark-gray;
    margin-right: 0.4em;
  }

  div.selectize-input {
    height: px2rem(30);
    font-size:  px2rem(16);
    color: $medium-darker-gray;
    padding: px2rem(4) px2rem(8);
    background-color: $lightest-gray;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid $medium-dark-gray;
  }
}

