.site_header {
  $header-one-column-breakpoint: 670px;

  &-top {
    @extend %-l-full-width;
    overflow: auto;  // Forms BFC to contain floats
    padding: px2rem(20) 0;
  }

  &-logo {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: 525px) {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $header-one-column-breakpoint) {
      width: auto;
      float: left;
      margin: 0;
    }
  }

  &-top_right {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 0 px2rem(20);

    @media (min-width: $header-one-column-breakpoint) {
      width: auto;
      float: right;
      margin: inherit;
      text-align: inherit;
      padding-top: px2rem(6);
    }
  }

  &-bottom {
    background-color: $light-gray;
    padding: px2em(12) 0;
    overflow: auto;
    border-top: 1px solid $medium-gray;
  }

  &-bottom_inner {
    @extend %-l-full-width;
  }

  &-nav {
    text-align:  center;
    margin-bottom: 20px;

    @media (min-width: $header-one-column-breakpoint) {
      float: left;
      text-align: inherit;
      margin-bottom: 0;
    }

    font-size: px2rem(22);
    a {
      display: inline-block;
    }
    a {
      &:hover, &:visited, &:link, &:active {
        color: $medium-darker-gray;
        text-decoration: none;
        font-weight: 100;
        padding: 0.3em 0.6em;
      }
    }
    a.is-active {
      border: 1px solid $medium-dark-gray;
      background-color: $medium-gray;
      border-radius: 0.2em;
    }
  }

  &-phone {
    display: block;
    width: px2rem(170);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (min-width: $header-one-column-breakpoint) {
      float: right;
      width: auto;
      text-align: inherit;
      display: inline-block;
      margin: 0;
    }

    &::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      content: '\f095';
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari 3-8 */
      transform: rotate(90deg);
    }
  }

  &-account_link {
    display: inline-block;
    line-height: px2rem(29);
    margin-right: px2rem(20);

    &:hover, &:visited, &:link, &:active {
      color: $medium-darker-gray;
      text-decoration: none;
      font-size: px2rem(18);
    }
    &::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      content: '\f007';
      margin-right: 0.35em;
      font-size: 0.9em;
    }
  }

  .search_form {
    display: inline-block;
    vertical-align: top;
  }

  .button {

  }
}
