//  All below styles are for mobile. Media queries change styles for
// desktop/tablet
$footer-one-column-breakpoint: 1010px;

.site_footer {
  font-size: px2rem(14);
  color: $medium-dark-gray;
  background-color: $dark-gray;
  padding: px2em(34) px2em(30);

  // Look ma' ! We can add media queries inside nested selectors.
  @media (min-width: $footer-one-column-breakpoint)  {
    font-size: px2rem(16);
  }

  &-contact_info {
    text-align: center;
    margin: px2rem(20) 0;

    > p {
      $margin: px2em(3);
      margin-top: $margin;
      margin-bottom: $margin;
    }

    @media (min-width: $footer-one-column-breakpoint)  {
      float: left;
      text-align: left;
      margin-top: px2rem(-10);
    }
  }

  &-copyright {
    color: $white;
    font-weight: 100;
  }

  &-phone {
    &::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      margin-right: 0.2em;
      content: '\f095';
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari 3-8 */
      transform: rotate(90deg);
    }
  }

  &-nav_wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 0.6em auto;
    @media (min-width: $footer-one-column-breakpoint)  {
      width: px2em(429);
    }
  }

  &-nav {
     a {
      &:hover, &:visited, &:link, &:active {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 100;
        margin-left: px2em(10);
        margin-right: px2em(10);
      }
    }
  }

  &-nav--alt {
    border-top: 1px solid #5d5d5d;
    margin-top: px2rem(10);
    padding-top: px2rem(14);
    a {
      &:hover, &:visited, &:link, &:active {
        color: $medium-dark-gray;
      }
    }
  }

  &-social_nav {
    text-align: center;
    margin-bottom: px2rem(20);

    > a {
      $size: 25;
      font-size: px2rem(.64 * $size);
      width: px2rem($size);
      height: px2rem($size);
      background-color: $white;
      color: $dark-gray;
      border-radius: 3em;
      line-height: px2rem($size);
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 0 0.1em 0 0.1em;

      &::before {
        font-family: "Font Awesome 5 Brands";
      }
    }
    @media (min-width: $footer-one-column-breakpoint)  {
      float: right;
      text-align: center;
    }

  }

  &-facebook_link {
    &::before {
      content: "\f39e";
    }
  }

  &-twitter_link {
    &::before {
      content: "\f099";
    }
  }

  &-linkedin_link {
    &::before {
      content: "\f0e1";
    }
  }
}
