$slide-height: px2rem(630);
$prev_next_icon_height: px2rem(100);
$full_width_breakpoint: 820px;

/* Add this rule separately to  increase specificity so that background image shows */
div.slideshow {
  position: relative;
  height: $slide-height;
  background-image: url("../images/slideshow-bg-1000.jpg");

  @media (min-width: 800px) {
    background-image: url("../images/slideshow-bg-2000.jpg");
  }

  @media (min-width: 1500px) {
    background-image: url("../images/slideshow-bg-3000.jpg");
  }

  @media (min-width: 2500px) {
    background-image: url("../images/slideshow-bg.jpg");
  }

  background-size: cover;
  background-position: bottom;
  // Don't use Flexbox on slider - getting strange behavior
  // display: flex;
  // align-items: center;

  // width, overflow and box-sizing make sure that prev/nav buttons
  // don't cause horizontal scrolling
  width: auto;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $white;
}

.slideshow {
  &-slide {
    padding: 0 20px;
    width: auto;

   @media (min-width: $full_width_breakpoint) {
     padding: 0 0 0 px2rem(190);
     width: px2rem(500);
   }

    > p {
      color: $white;
      font-size: px2rem(18);
    }
  }

  &-slide_title {
    font-size: px2rem(44);
    color: $white;
    margin-top: px2rem(-10);
    margin-bottom: 0.5em;
  }

  // Center li elements (slideshow content)
  ul.slides {
    height: $slide-height;
    & li {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .flex-direction-nav a {
    display: none;

    @media (min-width: $full_width_breakpoint) {
      display: block;
      width: $prev_next_icon_height;
      height: $prev_next_icon_height;
    }
  }

  .flex-direction-nav a:before {
    font-family: "fedfont";
    color: $white;
    font-size: $prev_next_icon_height;
  }


  .flex-direction-nav a.flex-next:before {
    content: 'd';
  }


  .flex-direction-nav a.flex-prev:before {
    content: 'c';
  }

  .flex-control-nav {
    bottom: px2rem(12);
  }

  .flex-control-nav li {
    margin: 0 px2rem(4);
  }

  .flex-control-paging li a {
    background: rgba(255, 255, 255, 0.9);

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  .flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 0.5);
  }

  &-wrapper {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 5%;
      right: 5%;
      height: 50%;
      bottom: 0;
      box-shadow: 0 0 30px rgba(0,0,0, 0.6);
      border-radius: 30%;
      z-index: -1;
    }
  }
}




