div.snippet_slideshow {
  $nav_offset: -50px;
  $breakpoint_single_snippet: 1070px;
  $breakpoint_smallest_snippet: 670px;

  background: none;
  border: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  @media (min-width: $breakpoint_smallest_snippet ) {
    width: 515px; // TODO Share this value with slideshow A
  }

  @media (min-width: $breakpoint_single_snippet ) {
    width: $max_width;
  }

  .flex-direction-nav a {
    top: 30%;
  }

  .flex-direction-nav a:before {
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: $medium-darkest-gray;
  }

  .flex-direction-nav a.flex-next {
    display: none;
    @media (min-width: $breakpoint_smallest_snippet ) {
      display: block;
      right: $nav_offset;
    }
  }

  &:hover .flex-direction-nav a.flex-next {
    @media (min-width: $breakpoint_smallest_snippet ) {
      right: $nav_offset;
    }
  }

  .flex-direction-nav a.flex-next:before {
    content: '\f0a9';
  }

  .flex-direction-nav a.flex-prev {
    display: none;
    @media (min-width: $breakpoint_smallest_snippet ) {
      display: block;
      left: $nav_offset;
    }
  }

  &:hover .flex-direction-nav a.flex-prev {
    @media (min-width: $breakpoint_smallest_snippet ) {
      left: $nav_offset;
    }
  }

  .flex-direction-nav a.flex-prev:before {
    content: '\f0a8';
  }

  .snippet-author_photo {
    display: none;
    @media (min-width: $breakpoint_smallest_snippet ) {
      display: block;
    }
  }
}
