.snippet {

  // Create a Block Formatting Context - otherwise adding  margins won't work
  overflow: auto;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;

  &-content {
    width: 372px;
    margin-left: 20px;
    float: left;

    > p {
      font-size: px2rem(14);
    }
  }

  &-title {
    font-size: px2rem(22);
    margin-bottom: 0.64em;
    margin-top: 0;
  }

  &-attribution  {
    font-style: italic;
    & > a {
      color: $dark-gray;
      &:hover, &:visited, &:link, &:active {
        color: $dark-gray;
      }
    }
  }

  // Use px for units as we don't need for photo to scale with font size
  &-author_photo {
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 200px;
    border: 2px solid $white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    float: left;
    margin-top:37px;
  }

}