// Components

.stacked_hero_section {
  overflow: auto; // Establish a new Block Formatting Context (BFC)
  padding: 90px 0;

  @extend %-l-full-width;

  &-title {
    font-size: px2rem(34);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $medium-gray;
    text-align: center;
    padding-bottom: 0.8em;
    margin-bottom: 0.9em;
    margin-top:0
  }

  &--alt {
    background-color: $light-gray;
    width: auto;
    margin: 0;
    overflow: hidden;

    > .stacked_hero_section-title {
      border-bottom-color: $white;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
      @media (min-width: $max_width) {
        width: $max_width;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &--qualities {
    .icon_box-wrapper {
      max-width: 612px;  // if less than this value, ignore width setting altogether
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 1000px) {
        width: auto;
        max-width: none;
      }
    }
  }
}
