.icon_box {
  background-color: #e8e8e8;
  padding: 1px;
  > p { // TODO: unify paragraph styles
    font-size: 14px;
  }
  &-title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
  }
}