// Colors
$dark-gray: #6d6d6d;
$medium-gray: #dadada;
$light-gray: #e8e8e8;
$white: white;


// Typography
$default-font-weight: 100;


// Default HTML elements
body {
  font-family: sans-serif;
  font-weight: $default-font-weight;
  color: $dark-gray;
}

h1, h2, h3 {
  font-weight: $default-font-weight;
}

p {
  line-height: 1.7;
}


// Components
.stacked_hero_section-title {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 3px; // TODO: Make it relative
  border-bottom: 1px solid $medium-gray;
  text-align: center;
  padding-bottom: 28px;
  margin-bottom: 32px;
}

// Nested selectors
.slide {
  background-color: #797762;
  padding: 3px;
  > .slide-title {
    font-size: 44px;
    color: $white;
    margin-bottom: 20px;
  }
  > p {
    color: $white;
    font-size: 18px;
  }
}

// Nested selectors
.stacked_hero_section--alt {
  background-color: $light-gray;
  padding: 10px 121px;
  > .stacked_hero_section-title {
    border-bottom-color: $white;
  }
}

// Nested selectors
.icon_box {
  background-color: #e8e8e8;
  padding: 1px;
  > p { // TODO: unify paragraph styles
    font-size: 14px;
  }
  &-title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
  }
}

.snippet {
  > p {
    font-size: 14px;
  }
  &-title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
  &-attribution  {
    font-style: italic;
    & > a {
      color: $dark-gray;
      &:hover, &:visited, &:link, &:active {
        color: $dark-gray;
      }
    }
  }
}