.icon_box {
  background-color: #e8e8e8;
  padding: 1px;
  > p { // TODO: unify paragraph styles
    font-size: px2rem(14);
  }
  &-title {
    font-size: px2rem(26);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
  }
}