.site_header {
  &-bottom {
    background-color: $light-gray;
    padding: px2em(12);
  }
  &-nav {
    font-size: px2rem(22);
    a {
      display: inline-block;
    }
    a {
      &:hover, &:visited, &:link, &:active {
        color: $medium-darker-gray;
        text-decoration: none;
        font-weight: 100;
        padding: 0.3em 0.6em;
      }
    }
    a.is-active {
      border: 1px solid $medium-dark-gray;
      background-color: $medium-gray;
      border-radius: 0.2em;
    }
  }
}
