.site_footer {
  color: $medium-dark-gray;
  background-color: $dark-gray;
  padding: px2em(34) px2em(30);

  > p {
    $margin: px2em(3);
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &-copyright {
    color: $white;
    font-weight: 100;
  }

  &-nav {
    width: px2em(429);
    text-align: center;
    margin: 0 auto 0.6em auto;
     a {
      &:hover, &:visited, &:link, &:active {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 100;
        margin-left: px2em(10);
        margin-right: px2em(10);
      }
    }
  }

  &-nav--alt {
    border-top: 1px solid #5d5d5d;
    padding-top: 0.8em;
    a {
      &:hover, &:visited, &:link, &:active {
        color: $medium-dark-gray;
      }
    }
  }
}
