.snippet {
  > p {
    font-size: px2rem(14);
  }
  &-title {
    font-size: px2rem(22);
    margin-bottom: 0.64em;
  }
  &-attribution  {
    font-style: italic;
    & > a {
      color: $dark-gray;
      &:hover, &:visited, &:link, &:active {
        color: $dark-gray;
      }
    }
  }
}